<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    
    <link rel="stylesheet" href="../css/signin.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/contactus.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <header>
        <h2 class = "logo">PracticeLearn</h2>
        <nav>
            <ul class = "nav-area">
                <li><a href = "../index.html">Home</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "ourteam.html">Our Team</a></li>
                <li><a href = "game.html">Game</a></li>
                <li><a href = "services.html">Services</a></li>
                <li><a href = "contactus.html">Contact</a></li>    
            </ul>
        </nav>
        <a href=""></a>
    </header>
    
    <div class="contact-page">
    <h1 class = "contact-h1">Contact Us</h1>
    <p id="contact-p">Use the following form to send a message to us</p>
    <table style="margin: 90px">
       
        <tr>
            <td style="">Your Email</td>
            <td><input class = "input-field " type = "text" name ="txtForm" id="emailForm" size="20" maxlength="250"/></td>
        </tr>
        <tr>
            <td>Message</td>
            <td><textarea style="margin-top: 20px" name="txtBody" id="emailBody" cols="50" row="10"></textarea></td>
        </tr>
        <tr>
            <td>How did you hear of us</td>
            <td>
                <select style="margin-top: 20px" class = "select-option" name ="selReferrer">
                    <option value="google">Google</option>
                    <option value="ad">Local newspaper ad</option>
                    <option value="friend">Friend</option>
                    <option value="other">Other</option>
                </select>
            </td>
        </tr>
        <tr >
            <td >Newsletter</td>
            <td ><input style="margin-top: 20px" type ="checkbox" name="chkBody" id="newslettersignup"
                checked="checked"/>
                Ensure this box is checked if you would like to receive email updates
            </td>
        </tr>
    </table>
    <button type="button" class = "contact-btn">Send Message</button>
    </div>
   
    <footer class="footer" style="margin-top:800px">
        <div class="inner-footer">
            <div class ="social-link">
                <ul>
                    <li class ="social-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class ="social-item"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class ="social-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class ="social-item"><a href="#"><i class="fab fa-tumblr-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="outer-footer">
            Copyright &copy; Jawad Learning Pro. All Rights Reserved 
        </div>  
    </footer>
</body>
</html>