<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    
    <link rel="stylesheet" href="../css/signin.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/ourteam.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <style>
        .body-table{
            background:#81c644;
        }
        table{
            width:925px;
            margin:auto;
            text-align: center;
            table-layout: fixed;  
        }

        table, tr, th, td{
            padding: 20px;
            color: white;
            border: 1px solid #080808;
            border-collapse: collapse;
            font-size: 18px;
            font-family: Arial;
            background: linear-gradient(top, #3c3c3c 0%, #e43434 100%);
            background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        }
        td:hover{
            background: purple;
        }
    </style>

</head>
<body>
    <header>
        <h2 class = "logo">PracticeLearn</h2>
        <nav>
            <ul class = "nav-area">
                <li><a href = "../index.html">Home</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "ourteam.html">Our Team</a></li>
                <li><a href = "game.html">Game</a></li>
                <li><a href = "services.html">Services</a></li>
                <li><a href = "contactus.html">Contact</a></li>   
            </ul>
        </nav>
        <a href=""></a>
    </header>

    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
          <div class="team_member">
            <div class="team_img">
              <img src="../images/image1.png" alt="Team_image">
            </div>
            <h3>Max Brown</h3>
            <p class="role">HR Director</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </div>
          <div class="team_member">
            <div class="team_img">
              <img src="../images/image2.jpg" alt="Team_image">
            </div>
            <h3>Micheal Lee</h3>
            <p class="role">Coordinator</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p></div>
          <div class="team_member">
            <div class="team_img">
              <img src="../images/image3.jpg" alt="Team_image">
            </div>
            <h3>Alex Adam</h3>
            <p class="role">Site Reliability Engineer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </div>
        </div>
      </div>	

      <div class="body-table">
      <div style="font-family: 'Allura', cursive; font-size: 65px; text-align: center;"> Our Professors </div>
      <table >
          <tr>
              <th>Professor Name</th>
              <th>Position</th>
              <th>Specialism</th>
              <th>Working Years</th>
              <th>Previous Work</th>
          </tr>
          <tr>
              <td>James John</td>
              <td>Professor</td>
              <td>Spring Boot</td>
              <td>9</td>
              <td>Developer</td>
          </tr>
          <tr>
            <td>Alice Adams</td>
            <td>Professor</td>
            <td>Docker</td>
            <td>12</td>
            <td>Software Engineer</td>
        </tr>
        <tr>
            <td>Steve Micheal</td>
            <td>Professor</td>
            <td>Agile</td>
            <td>8</td>
            <td>Project Manager</td>
        </tr>
        <tr>
            <td>Amal Bent</td>
            <td>Professor</td>
            <td>Flask</td>
            <td>13</td>
            <td>Python Developer</td>
        </tr>
        <tr>
            <td>Sam David</td>
            <td>Professor</td>
            <td>AWS</td>
            <td>15</td>
            <td>Senior Software Engineer</td>
        </tr>
      </table>
    </div>
    
    <footer class="footer" style="margin-top: 150px">
        <div class="inner-footer">
            <div class ="social-link">
                <ul>
                    <li class ="social-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class ="social-item"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class ="social-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class ="social-item"><a href="#"><i class="fab fa-tumblr-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="outer-footer">
            Copyright &copy; Jawad Learning Pro. All Rights Reserved 
        </div>  
    </footer>
</body>
</html>