<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../css/signin.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <header>
        <h2 class = "logo">PracticeLearn</h2>
        <nav>
            <ul class = "nav-area">
                <li><a href = "../index.html">Home</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "ourteam.html">Our Team</a></li>
                <li><a href = "game.html">Game</a></li>
                <li><a href = "services.html">Services</a></li>
                <li><a href = "contactus.html">Contact</a></li> 
                
            </ul>
        </nav>
        <a href=""></a>
    </header>

    <div class = "xop-banner"> 
    </div>
        <div class = "site-container">
            <div class="article-container">
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/github.png" alt="github"/>
                    </figure>
                    <div class="article-content">
                        <a href= "github.html" class="card-category">Github Repositories</a>
                        <h3 class="card-title"> Check Github Profiles by name and Access Individuals Accounts </h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,   
                        </p>
                    </div>
                </article>
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/react1.jpeg"/>
                    </figure>
                    <div class="article-content">
                        <a href="#" class="card-category">React for Beginners</a>
                        <h3 class="card-title"> Build an App, and Learn the Fundamentals</h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type
                             specimen book
                        </p>
                    </div>
                </article>
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/spring1.jpg"/>
                    </figure>
                    <div class="article-content">
                        <a href="#" class="card-category">Spring Boot</a>
                        <h3 class="card-title"> Learn Spring Boot in four weeks and Build your first Spring Boot application</h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type
                             specimen book
                        </p>
                    </div>
                </article>
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/sql1.jpg"/>
                    </figure>
                    <div class="article-content">
                        <a href="#" class="card-category">SQL</a>
                        <h3 class="card-title"> Develop in-demand SQL skills from the experts</h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type
                             specimen book
                        </p>
                    </div>
                </article>
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/aws.png"/>
                    </figure>
                    <div class="article-content">
                        <a href="#" class="card-category">AWS</a>
                        <h3 class="card-title"> Learn How to deploy in AWS Services</h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type
                             specimen book
                        </p>
                    </div>
                </article>
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/flask.jpg"/>
                    </figure>
                    <div class="article-content">
                        <a href="#" class="card-category">Flask</a>
                        <h3 class="card-title"> Practice with Flask python framework</h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type
                             specimen book
                        </p>
                    </div>
                </article>
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/docker.jpg"/>
                    </figure>
                    <div class="article-content">
                        <a href="#" class="card-category">Docker</a>
                        <h3 class="card-title"> Develop with docker</h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type
                             specimen book
                        </p>
                    </div>
                </article>
                <article class ="article-card">
                    <figure class="article-image">
                        <img src = "../images/kubarnates.jpg"/>
                    </figure>
                    <div class="article-content">
                        <a href="#" class="card-category">Kuburnetes</a>
                        <h3 class="card-title"> Devlope and practice with Kuburnetes and containers</h3>
                        <p class ="card-excerpt">Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type
                             specimen book
                        </p>
                    </div>
                </article>
            </div>
        </div>
    
        <footer class="footer" style="margin-top: 150px">
            <div class="inner-footer">
                <div class ="social-link">
                    <ul>
                        <li class ="social-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class ="social-item"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li class ="social-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class ="social-item"><a href="#"><i class="fab fa-tumblr-square"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="outer-footer">
                Copyright &copy; Jawad Learning Pro. All Rights Reserved 
            </div>  
        </footer>
</body>
</html>